{% extends "index.html" %}
{% block content %}
    {% if err %}
        <h3 style="color: red">{{ err }}</h3>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Купить билет</button>
    </form>

    {#    https://air-datepicker.com/ru/docs#}
    <script src="/static/air-datepicker/air-datepicker.js"></script>
    <link rel="stylesheet" href="/static/air-datepicker/air-datepicker.css">
    <script>
        const datepicker = new AirDatepicker('#id_date_of_departure', {
            dateFormat: 'yyyy-MM-dd'
        })
    </script>
{% endblock %}

